.my-container{
    margin: 1%;
    padding: 1%;
}

.map-container{
    display: flex;
    justify-content: center;
}

.opaque{
    opacity: 1;
}

.balloon {
    font-family: 'Gugi', cursive;
    line-height: 0.5;
    text-align: left;
}

.map-lg {
    border: 5px;
    border-style: groove;
    border-color: grey;
    border-radius: 5px;
    width: 100vw;
    height:70vmin;
    margin: 1em;
}

.space-bg-img{
    background:url(../images/space-bg.jpg);
    height: 100%;
    width: auto;
  }

.footer {
    color: white;
    text-align: center;
}

.gugi-font{
    font-family: 'Gugi', cursive;
}

a {
    color: #ff2800;
    text-decoration: none;
}
a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

::-webkit-scrollbar {
  display: none;
}

.space-button{
    margin: 2px;
}

.navbar-brand{
    font-size: 1.5em;
}